body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #2BACE2;
  }

  h1 {
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }

  .inputSection {
    margin: 50px 0px 50px 0px;
    width: 400px;
  }

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  background-color: #00205C;
  font-size 20px;
  font-family: "verdana";
  font-weight: bold;
  color: #FFFFFF;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px
}
.go{
  background-color: #E4F53B;
  font-size: 20px;
  font-family: "verdana";
  font-weight: bold;
  padding: 10px;
}
